.grid-container {
    display: grid;
    grid-template-columns: 80px repeat(31, 1fr); /* first column width = 80px, rest of the columns have equal width */
    grid-column-gap: 0;
    border: 0px solid black;
    padding: 5px;
}

.first-grid-item {
    border: 1px solid rgb(136, 132, 216);
    padding: 10px;
    text-align: center;
    cursor: pointer;
    width: 80px; /* assuming 31 days */
    box-sizing: border-box;
}

.grid-item {
    border: 1px solid rgb(136, 132, 216);
    padding: 10px;
    text-align: center;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
}

.month-view-header {
    font-weight: bold;
    background-color: lightgray;
}

.completed {
    background-color: green;
}
